html {
  margin: 0 auto;
  scroll-behavior: smooth;
}
.wrapper {
  min-width: 992px;
}
h1,
h2,
p {
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
}
.left-navigation {
  margin-left: 35px;
}
.right-navigation {
  margin-right: 140px;
}
nav ul li {
  padding: 0 16px;
  display: inline-block;
}
nav ul li {
  font-size: 16px;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: Verdana, sans-serif;
  color: #5a5958;
}
.banner {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding:0 ;
}
.banner-text {
  position: absolute;
  top: 30%;
  left: 6.3%;
}
.banner-text h1 {
  color: #ffffff;
  word-spacing: 3px;
  font-size: 45.7px;
  font-family: Georgia;
}
.banner-text p {
  color: #ffffff;
  font-size: 23px;
  font-family: Arial;
  word-spacing: 3px;
  margin: 5px 0;
}
.banner img {
  margin-top: 25px;
  width: 100%;
  max-width: 100%;
}
.main-title {
  font-family: Helvetica;
  color: #0c172b;
  font-weight: 700;
  font-size: 24px;
  padding-left: 2px;
  padding-top: 35px;
  margin-bottom: 13px;
}
.main-paragraph {
  font-size: 16px;
  margin-bottom: 35px;
  font-family: Arial;
  font-weight: 400;
  color: #5e6960;
}
.container {
  background-color: #dfe4ed;
  padding: 0 30px;
  
}
main {
  display: flex;
}
.list-guide {
  display: flex;
  margin-left: -59px;
  flex-wrap: wrap;
  width: 100%;
  flex: 1 1 65%;
}
.list-guide div {
  margin-left: 59px;
  margin-bottom: 62px;
  flex: 1 1 43%;
}
.list-guide img {
  width: 100%;
  height: auto;
}
.aside-image {
  flex: 1 1 35%;
}
.aside-image img {
  margin-left: 60px;
  width: 84.5%;
  height: auto;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 35px 30px 70px 30px;
  background-color: #ecf2e9;
}
footer div {
  margin-top: 20px;
  flex: 1;
}
footer div h2 {
  margin-bottom: 10px;
  color: #0c172b;
  font-weight: 600;
  font-family: Helvetica;
}
footer div p {
  margin-bottom: 15px;
  font-family: Arial;
  font-bold: 600;
  color: #5e6960;
  font-size: 16px;
  word-spacing: 1px;
}
footer a {
  font-size: 16px;
  text-decoration: underline;
  color: #3d86f5;
  font-family: Arial;
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    overflow-x: hidden;
  }
  .wrapper {
    min-width: 100%;
    margin: 0 auto;
  }
  header {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #1b2e42;
  }
  nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #b8bbbf;
    font-family: Verdana, sans-serif;
  }
  .left-navigation {
    margin-left: 10px;
    padding-left: 0;
  }
  .right-navigation {
    margin-right: 10px;
    padding-right: 0;
  }
  .banner {
    margin-left: 20px;
    margin-top: 80px;
  }
  .banner img {
    display: none;
  }
  .banner-text {
    position: relative;
    left: 0;
    top: 0;
  }
  .banner-text h1 {
    color: black;
    font-size: 38px;
    font-family: Arial;
    margin-bottom: 40px;
  }
  .container {
    background-color: #fff;
    margin-left: 20px;
    padding: 0;
  }
  .banner-text p {
    color: black;
    font-size: 16px;
    font-family: Arial;
    margin: 5px 0 30px 0;
  }
  .main-title {
    color: black;
    font-size: 38px;
  }
  main {
    display: block;
  }
  .list-guide {
    display: flex;
    align-items: flex-end;
    margin-left: -10px;
  }
  .container {
    margin-right: 20x;
  }
  .list-guide div {
    margin: 0;
    padding: 20px 20px;
    flex-wrap: wrap;
    flex: 1 1 40%;
  }
  .list-guide img {
    width: 100%;
    height: auto;
  }
  .aside-image {
    padding: 5px 80px 3px 0;
  }
  .aside-image img {
    position: relative;
    right: 51px;
    width: 50%;
    height: auto;
  }
  footer {
    display: block;
    margin: -60px 30px 70px 0px;
    background-color: #fff;
  }
  footer div {
    margin-top: 60px;
  }
  footer div h2 {
    font-size: 34px;
    margin-bottom: 20px;
    color: #0c172b;
    font-weight: 600;
    font-family: Arial;
  }
  footer div p {
    margin-bottom: 35px;
    font-family: Arial;
    font-bold: 600;
    color: #5e6960;
    font-size: 16px;
    word-spacing: 1px;
  }
  footer a {
    font-size: 16px;
    text-decoration: underline;
    color: #3d86f5;
    font-family: Arial;
  }
}
@media (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
  .wrapper {
    max-width: 100%;
    min-width: 0;
  }
  header {
    display: block;
    margin: 0;
    padding: 10px 0;
    background-color: #1b2e42;
  }
  nav {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    padding-left: -10px;
    padding-right: 10%;
  }
  nav ul li {
    padding-left: 10px;
  }
  nav ul li a {
    display: inline-block;
    padding: 1 0px 0;
    text-decoration: none;
    font-size: 55%;
    text-transform: uppercase;
    color: #b8bbbf;
    font-family: Verdana, sans-serif;
  }
  .banner img {
    display: none;
  }
  .banner-text {
    position: relative;
    left: 0;
    top: 0;
  }
  .banner-text h1 {
    margin-top: 70px;
    margin-left: 35px;
    color: black;
    font-size: 230%;
    font-family: Arial;
    width: 100%;
  }
  .banner-text p {
    color: #5e6960;
    margin: 0 auto;
    font-size: 16px;
    padding: 20px 40px 40px 40px;
  }
  main {
    display: block;
  }
  .main-title {
    color: black;
    font-size: 230%;
    width: 100%;
  }
  .container {
    background-color: #fff;
    margin-left: 35px;
    padding: 0;
  }
  .list-guide {
    margin: 0 auto;
  }
  .list-guide div {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .list-guide img {
    max-width: 93%;
    height: 125px;
    margin-bottom: 50px;
  }
  .left-navigation {
    margin-left: 0;
    padding-left: 0;
  }
  .list-guide {
    display: block;
  }

  .aside-image {
    display: block;
  }
  .aside-image img {
    width: 93%;
    height: auto;
    margin: 0 auto;
  }
  .right-navigation {
    padding: 0;
    margin-right: 0;
  }
  footer {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    background-color: #fff;
    white-space: nowrap;

    padding: 35px 0px 70px 35px;
  }
  footer div h2 {
    font-size: 230%;
    width: 100%;
  }
  footer div p {
    font-size: 13.5px;
  }
}
