
  .wrapper {
    min-width: 992px;
  }
  body {
    margin: 0;
  }
  h1,
  h2,
  p {
    margin: 0;
  }
  header {
    padding: 50px 25px;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  .right-navigation {
    padding-right: 80px;
    margin: 0;
  }
  .left-navigation {
    margin:0;
  }
  nav ul li {
    display: inline-block;
    padding: 0 20px;
    margin: 0;
  }
  nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    color: #5a5958;
  }
  .banner {
    max-width: 100%;
    position: relative;
    display:flex;
  }
  .banner-text {
    position: absolute;
    top: 30%;
    left: 6%;
  }
  .banner-text h1 {
    color: #ffffff;
    word-spacing: 3px;
    font-size: 45.7px;
    font-family: Georgia;
  }
  .banner-text p {
    color: #ffffff;
    font-size: 23px;
    font-family: Arial;
    word-spacing: 3px;
    margin: 5px 0;
  }
  .banner img {
    width: 100%;
    max-width: 100%;
  }
  .main-title {
    font-family: Helvetica;
    color: #0c172b;
    font-weight: 700;
    font-size: 33px;
    margin-bottom: 13px;
  }
  .main-paragraph {
    font-size:19px;
    margin-bottom: 35px;
    font-family: Arial;
    font-weight: 400;
    color: #5e6960;
  }
  .container {
    background-color: #dfe4ed;
    padding: 35px 30px;  
  }
  main {
    display: flex;
  }
  .list-guide {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -15px;
    flex: 1 1 70%;
  }
  .list-guide div {
    flex: 1 1 45%;
    padding: 15px 15px;
  }
  .list-guide img {
    width: 100%;
    height: auto;
  }
  .aside-image {
    flex: 1 1 30%;
    padding-left: 15px;
    padding-top: 15px;
  }
  .aside-image img {
    width: 100%;
    height: 96%;
  }
  footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 75px 0;
    background-color: #ecf2e9;
  }
  footer div {
    flex: 1;
    padding: 0 24px 0 30px;
  }
  footer div h2 {
    margin-bottom: 15px;
    font-size:28px;
    color: #0c172b;
    font-weight: 600;
    font-family: Helvetica;
  }
  footer div p {
    margin-bottom: 15px;
    font-family: Arial;
    color: #5e6960;
    font-size: 19px;
  }
  footer a {
    font-size: 19px;
    text-decoration: underline;
    color: #68a8c9;
    font-family: Arial;
  }
  @media (min-width: 768px) and (max-width: 991px) {

    .wrapper {
      min-width: 100%;
      margin: 0;
    }
    header {
      padding: 50px 20px 35px 15px;
      background-color: #596370;
    }
    nav ul li {
      padding: 0 15px;
    }
    nav ul li a {
      text-decoration: none;
      text-transform: uppercase;
      color: #b8bbbf;
      font-family: Verdana, sans-serif;
    }
    .left-navigation{
      margin: 0;
      padding: 0;
    }
    .right-navigation {
      margin: 0;
      padding: 0;
    }
    .banner {
      padding: 0 20px;
      margin-top: 80px;
      margin-bottom:20px;
    }
    .banner img {
      display: none;
    }
    .banner-text {
      position: relative;
      left: 0;
      top: 0;
    }
    .banner-text h1 {
      color: #233441;
      font-size: 42px;
      font-family: Arial;
      margin-bottom: 30px;
    }
    .line-break {
      height: 2px;
      background-color: #c8c8c8;
      width:93%;
      margin: 0 auto;
    }
    .container {
      background-color: #fff;
      padding:0 20px;
    }
    .banner-text p {
      color: #5e6960;
      font-size:16px;
      font-family: Arial;
      margin: 0px 0 20px 0;
    }
    .main-title {
      color: #233441;
      font-size: 38px;
      padding-left: 0px;
    }
    main {
      display: block;
      margin: -30px -15px 0 -15px;
    }
    .list-guide {
      margin: 0px;
    }
    .list-guide div {
      margin: 0;
      padding: 30px 15px;
      flex-wrap: wrap;
      flex: 1 1 45%;
    }
    .list-guide img {
      width: 100%;
      height: auto;
    }
    .aside-image {
      display: block;
      padding-left: 15px;
      padding-top: 30px;
    }
    .aside-image img {
      width: 47%;
      height: auto;
    }
    footer {
      display: block;
      padding : 0 20px;
      background-color: #fff;
    }
    footer div {
      margin: 70px 0;
      padding:0;
    }
    footer div h2 {
      margin: 0;
      font-size: 34px;
      padding-bottom: 15px;
      color: #233441;;
      font-weight: 600;
      font-family: Arial;
    }
    footer div p {
      margin: 0;
      padding-bottom: 15px;
      font-family: Arial;
      color: #5e6960;
      word-spacing: 1px;
    }
    footer a {
      text-decoration: underline;
      color: #68a8c9;
      font-family: Arial;
    }
  }
  @media (max-width: 767px) {
    html {
      overflow-x: hidden;
    }
    p {
      font-size: 3.6vw !important;
      color : #a9a9a9 !important;
    }
    .wrapper {
      max-width: 100%;
      min-width: 0;
    }
    header {
      margin: 0;
      background-color: #556370;
      padding: 40px 0;
    }
    nav {
      display: flex;
      justify-content:flex-start;
      margin: 0;
      padding-left: 5px;
    }
    .right-navigation {
      margin: 0;
      padding: 0;
    }
    .left-navigation {
      margin: 0;
      padding: 0;
    }
    nav ul li a {
      font-size: 2.6vw;
      text-decoration: none;
      text-transform: uppercase;
      color: #b8bbbf;
      font-family: Verdana, sans-serif;
    }
    nav ul li {
      padding: 0px 3.8vw;
    }
    .banner {
      margin: 0;
      padding: 0;
    }
    .banner img {
      display: none;
    }
    .banner-text {
      position: relative;
      left: 0;
      top: 0;
      padding-top: 70px;
      padding-left: 20px;
    }
    .banner-text h1 {
      color: #2e3741;
      font-size: 10vw;
      font-family: Arial;
    }
    .banner-text p {
      color: #2e3741;
      margin: 0;
      padding: 0;
      margin: 20px 40px 80px 0;
    }
    main {
      display: block;
    }
    .main-title {
      color: #2e3741;
      font-size: 10vw;
      font-family: Arial;
      margin: 0;
    }
    .main-paragraph {
      margin-top: 15px;
      margin-bottom: 55px;
    }
    .container {
      background-color: #fff;
      padding: 0 20px;
      margin: 0;
      margin-bottom: 30px;
    }
    .list-guide {
      margin: 0;
    }
    .list-guide div {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      margin-bottom: 55px;
    }
    .list-guide img {
      width: 100%;
      height: 50%;
    }
    .left-navigation {
      margin-left: 0;
      padding-left: 0;
    }
    .list-guide {
      display: block;
      width: 100%;
    }
    .aside-image {
      display: block;
      padding: 0;
    }
    .aside-image img {
      width: 100%;
      height: auto;
    }
    .right-navigation {
      padding: 0;
      margin-right: 0;
    }
    footer {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      white-space: nowrap;
      padding: 0;
      margin: 0;
    }
    footer div {
      margin: 0;
      padding: 30px 20px;
    }
    footer div h2 {
      font-size: 10vw;
      margin-bottom: 20px;
    }
    footer div p {
      white-space: normal;
      margin-bottom: 30px;
    }
    footer div a {
      color : #858585;
      font-size :3.6vw;
    }
  }
